<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id, id: :entry_company_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :entry_name %>
  </div>

  <div class="field">
    <%= form.label :original_name %>
    <%= form.text_field :original_name, id: :entry_original_name %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period, id: :entry_period %>
  </div>

  <div class="field">
    <%= form.label :month %>
    <%= form.number_field :month, id: :entry_month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :entry_year %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :entry_value %>
  </div>

  <div class="field">
    <%= form.label :footnote %>
    <%= form.number_field :footnote, id: :entry_footnote %>
  </div>

  <div class="field">
    <%= form.label :pdf_file_name %>
    <%= form.text_field :pdf_file_name, id: :entry_pdf_file_name %>
  </div>

  <div class="field">
    <%= form.label :pdf_page %>
    <%= form.number_field :pdf_page, id: :entry_pdf_page %>
  </div>

  <div class="field">
    <%= form.label :processed_document %>
    <%= form.text_field :processed_document, id: :entry_processed_document %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
