<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Name</th>
      <th>Original name</th>
      <th>Period</th>
      <th>Month</th>
      <th>Year</th>
      <th>Value</th>
      <th>Footnote</th>
      <th>Pdf file name</th>
      <th>Pdf page</th>
      <th>Processed document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.company_id %></td>
        <td><%= entry.name %></td>
        <td><%= entry.original_name %></td>
        <td><%= entry.period %></td>
        <td><%= entry.month %></td>
        <td><%= entry.year %></td>
        <td><%= entry.value %></td>
        <td><%= entry.footnote %></td>
        <td><%= entry.pdf_file_name %></td>
        <td><%= entry.pdf_page %></td>
        <td><%= entry.processed_document %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
