<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @entry.company_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @entry.name %>
</p>

<p>
  <strong>Original name:</strong>
  <%= @entry.original_name %>
</p>

<p>
  <strong>Period:</strong>
  <%= @entry.period %>
</p>

<p>
  <strong>Month:</strong>
  <%= @entry.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @entry.year %>
</p>

<p>
  <strong>Value:</strong>
  <%= @entry.value %>
</p>

<p>
  <strong>Footnote:</strong>
  <%= @entry.footnote %>
</p>

<p>
  <strong>Pdf file name:</strong>
  <%= @entry.pdf_file_name %>
</p>

<p>
  <strong>Pdf page:</strong>
  <%= @entry.pdf_page %>
</p>

<p>
  <strong>Processed document:</strong>
  <%= @entry.processed_document %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
