<p id="notice"><%= notice %></p>

<h1>Statements</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Statement type</th>
      <th>Period</th>
      <th>Month</th>
      <th>Year</th>
      <th>Pdf file name</th>
      <th>Pdf page</th>
      <th>Processed document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statements.each do |statement| %>
      <tr>
        <td><%= statement.company_id %></td>
        <td><%= statement.statement_type_id %></td>
        <td><%= statement.period %></td>
        <td><%= statement.month %></td>
        <td><%= statement.year %></td>
        <td><%= statement.pdf_file_name %></td>
        <td><%= statement.pdf_page %></td>
        <td><%= statement.processed_document %></td>
        <td><%= link_to 'Show', statement %></td>
        <td><%= link_to 'Edit', edit_statement_path(statement) %></td>
        <td><%= link_to 'Destroy', statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statement', new_statement_path %>
